asgiref==3.2.4
attrs==19.3.0
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.2.2
defusedxml==0.6.0
Django==3.0.4
export==0.1.2
html5lib==1.0.1
more-itertools==8.2.0
packaging==20.3
Pillow==8.2.0
pluggy==0.13.1
py==1.8.1
pycparser==2.20
pyparsing==2.4.6
Pyphen==0.9.5
pytest==5.4.1
pytest-django==3.8.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
tinycss2==1.0.2
wcwidth==0.1.8
WeasyPrint==51
webencodings==0.5.1
