.container{
  /* margin: 0 auto; */
  /* width: 80%; */
  /* background-color: lightgray; */
}

@page {
  size: A4; /* Change from the default size of A4 */
  margin: 3.5mm; /* Set margin on each page */
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 18cm;
  margin-right: 2cm;
}

th, td {
  border: 1px solid black;
}

.b64_image{
  max-height: 3em;
}
